@{
    ViewBag.Title = "Bootstrap Test";

}


<script type="text/javascript">
    jQuery(window).load(function () {
        $('.slider').fractionSlider();
    });
</script>
   
<div class="row">
    <div class="col-sm-10">
        <div class="content" id="content">
            <div class="slider-wrapper">
                <div class="slider ">

                    <div class="slide">
                        <img src="~/Content/SliderImages/image6.jpg" class="slider_image" data-position="05,30" data-step="0" data-in="left"   />
                        <p data-position="150,150" data-step="2" data-in="left" style="font-size: 20px; font-weight: bold; color: white;">MANAGEMENT SYSTEM</p>
                        <p data-position="80,80" data-step="1" data-in="right" style="font-size: 20px; font-weight: bold; color: white;">ONLINE LAUNCH TICKET</p>
                        
                    </div>

                    <div class="slide">
                        <img src="~/Content/SliderImages/image.1.jpg"  class="slider_image" data-position="05,30" data-step="1" data-in="left" />
                        <p data-position="150,150" data-step="2" data-in="right" style="font-size: 20px; font-weight: bold; color: white;">MANAGEMENT SYSTEM</p>
                        <p data-position="80,80" data-step="1" data-in="left" style="font-size: 20px; font-weight: bold; color: white;">ONLINE LAUNCH TICKET</p>
                    </div>

                    <div class="slide">
                        <img src="~/Content/SliderImages/image2.jpg" class="slider_image"  data-position="05,30" data-step="1" data-in="left" />
                        <p data-position="150,150" data-step="2" data-in="right" style="font-size: 20px; font-weight: bold; color: white;">MANAGEMENT SYSTEM</p>
                        <p data-position="80,80" data-step="1" data-in="left" style="font-size: 20px; font-weight: bold; color: white;">ONLINE LAUNCH TICKET</p>
                    </div>

                    <div class="slide">
                        <img src="~/Content/SliderImages/image3.jpg"  class="slider_image" data-position="05,30" data-step="1" data-in="left" />
                        <p data-position="150,150" data-step="2" data-in="right" style="font-size: 20px; font-weight: bold; color: white;">MANAGEMENT SYSTEM</p>
                        <p data-position="80,80" data-step="1" data-in="left" style="font-size: 20px; font-weight: bold; color: white;">ONLINE LAUNCH TICKET</p>
                    </div>

                    <div class="slide">
                        <img src="~/Content/SliderImages/image4.jpg"  class="slider_image" data-position="05,30" data-step="1" data-in="left" />
                        <p data-position="150,150" data-step="2" data-in="right" style="font-size: 20px; font-weight: bold; color: white;">MANAGEMENT SYSTEM</p>
                        <p data-position="80,80" data-step="1" data-in="left" style="font-size: 20px; font-weight: bold; color: white;">ONLINE LAUNCH TICKET</p>
                    </div>

                    <div class="slide">
                        <img src="~/Content/SliderImages/image5.jpg"  class="slider_image" data-position="05,30" data-step="1" data-in="left" />
                        <p data-position="150,150" data-step="2" data-in="right" style="font-size: 20px; font-weight: bold; color: white;">MANAGEMENT SYSTEM</p>
                        <p data-position="80,80" data-step="1" data-in="left" style="font-size: 20px; font-weight: bold; color: white;">ONLINE LAUNCH TICKET</p>
                    </div>

                    <div class="fs_loader">
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="col-sm-12">
        <div class="alert alert-info">
            <h3>Welcome to E-Ticket Booking System
            </h3>
            <p>
                E-Ticket a proper platfrom where people can Book their launch ticket without any hastle of large queue and save their daily important time schedule.
            </p>

        </div>
    </div>
</div>
    
