@{
    ViewBag.Title = "Signout";
}

<div>
    <div class="alert alert-info">
        <p>
            You have been logged out!
        </p>
        <a href="../Home/Profile" class="alert-link">Click Here</a> to login again.
    </div>
</div>
