@{
    ViewBag.Title = "Welcome";
}

<div class="alert alert-success">
    Your account has been successfully created.  
</div>
<div class="row">
    <br />
</div>
<div class="alert alert-success">
    <a href="../Home/Profile" class="alert-link">Click Here</a> to go to your profile page.
</div>
