@{
    ViewBag.Title = "SignupError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Signup Error</h2>

<h2>An Error Has Occured  !!! </h2>
<h2>Please contact with Admin . Have a Good day !!!</h2>
