@{
    ViewBag.Title = "SignUpSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SignUpSuccessful</h2>

<h2>Your Signup Process is Successful !!!!</h2>

<p>Please click this link <a href="#">Any Content</a> to Verify your Account !!</p>
