
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<hr />

<div class="col-sm-12">
    <div class="alert alert-info">

        <p>
            Because of the many rivers of Bangladesh , launches are one of the major forms of transportation. These launches are notoriously dangerous. They are often overloaded, and they continue to operate during rough weather. Hundreds of people die each year in ferry accidents. Many types of boats are also used for transportation.
        </p>

    </div>
</div>


